.container {
  padding: 0 2rem;
}

.main,.description,.projects{
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myimg {
  border-radius: 50%;
}

.socials {
  flex-direction: row;
}

.socials a {
  padding: 0 0.5rem;
}

.icons {
  font-size: 1.8rem;
}

.icons:hover {
  color: blue;
}